<div flex-xs layout="row" layout-align="center center">
    <form name="loginForm" ng-submit="login.login(loginForm)">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
            <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container class="md-block">
            <label>Email</label>
            <input required type="text" name="email" ng-model="login.user.email" />
            <div ng-messages="login.user.email.$error" multiple>
              <div ng-message="required">
                Please enter a valid email.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input required type="password" name="password" ng-model="login.user.password" />
            <div ng-messages="login.user.email.$error" multiple>
              <div ng-message="required">
                Please enter a valid password.
              </div>
            </div>
          </md-input-container>
        </md-card-content>

        <md-card-actions layout="column" layout-align="center">
          <md-button type="submit" class="md-raised md-primary">Login</md-button>
        </md-card-actions>
      </md-card>
    </form>
</div>
