.hidden-flow {
  overflow: hidden;
}
.hidden-flow-x {
  overflow-x: hidden;
}

.bg-transparent {
  background-color: transparent !important;
}

.text-md {
  font-size: 2em;
}

.text-lg {
  font-size: 5em;
}

.bg-color-white {
  background-color: #fff;
}
