<md-toolbar>
  <div class="md-toolbar-tools bg-color-blue-grey-900">
    
    <md-button ng-repeat="item in nav.menu" ui-sref="{{item.state}}">
      {{item.title}}
    </md-button>
    <md-button ng-show="nav.isAdmin()" ui-sref="admin">Admin</md-button>

    <span flex></span>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref="signup">
      <span md-menu-align-target>Sign up</span>
    </md-button>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref="login">
      <span md-menu-align-target>Login</span>
    </md-button>

    <md-menu>
      <md-button ng-show="nav.isLoggedIn()" aria-label="User" ng-click="$mdOpenMenu()">
        <md-icon class="fa fa-user"></md-icon>
        {{ nav.getCurrentUser().name }}
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="signup"><span md-menu-align-target>Paramètres</span></md-button>
        </md-menu-item>
        <md-menu-divider ng-show="nav.isLoggedIn()"></md-menu-divider>
        <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="logout"><span md-menu-align-target>Logout</span></md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
