<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon class="mdi mdi-menu"></md-icon>
    </md-button>
    <md-button ng-repeat="item in nav.menu" ui-sref-active="active">
        <a ui-sref="{{item.state}}">{{item.title}}</a>
    </md-button>
    <md-button ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></md-button>

    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon class="mdi mdi-star"></md-icon>
    </md-button>
    <md-menu>
      <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu()">
        <md-icon class="mdi mdi-dots-vertical"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-hide="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="signup">Sign up</md-button>
        </md-menu-item>
        <md-menu-item ng-hide="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="login">Login</md-button>
        </md-menu-item>
        <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="signup">Paramètres</md-button>
        </md-menu-item>
        <md-menu-divider ng-show="nav.isLoggedIn()"></md-menu-divider>
        <md-menu-item ng-show="nav.isLoggedIn()" ui-sref-active="active">
          <md-button ui-sref="signup">Logout</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
