<br/>
<div flex-xs layout="column" layout-align="center center">
  <img class="title-img" src="/assets/images/panda_mouse.jpg"/>
  <h1 class="title">Mister trainee</h1>
</div>

<md-content class='md-center hidden-flow' layout="row" layout-wrap layout-align="center center">
  <md-card flex="25" flex-xs="100" flex-sm="45" flex-md="30" ng-repeat="item in main.trainees | orderBy : 'vote' : true">
    <md-card-header>
      <md-card-avatar>
        <img alt="{{ item.name }}" ng-src="{{ main.imgProxy.getFromName(item.name) }}" class="md-user-avatar" />
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{item.name}} - {{item.nickname}}</span>
        <span class="md-subhead" ng-if="item.vote < 4">Sous stagiaire</span>
        <span class="md-subhead" ng-if="item.vote >= 4 && item.vote < 8">Apprentice</span>
        <span class="md-subhead" ng-if="item.vote >= 8 && item.vote < 12">Jedi</span>
      </md-card-header-text>
      <md-card-avatar ng-show="true"> <!-- main.Auth.isAuthenticated() -->
        <rd-thumbs-up on-check="main.vote(item)" class="md-icon-button vote-for"></rd-thumbs-up>
      </md-card-avatar>
      <span class="md-subhead v-align-center">{{item.vote}}</span>
    </md-card-header>
    </div>
  </md-card>
</md-content>
