<br/>
<div flex-xs layout="column" layout-align="center center">
  <img class="title-img" src="/assets/images/panda_mouse.jpg"/>
  <h3 ng-if="main.nbActions > 0">You have {{main.nbActions}} actions left</h3>
  <h3 ng-if="main.nbActions == 0">No action left</h3>
</div>

<md-content class='md-center hidden-flow' layout="row" layout-wrap layout-align="center center">
  <md-card flex="100" ng-repeat="item in main.trainees | orderBy : 'vote' : true"
    ng-class="{
      'bg-color-blue-50': item.vote < 10,
      'bg-color-blue-100': item.vote >= 10,
      'bg-color-blue-200': item.vote >= 20,
      'bg-color-orange-300': item.vote >= 40,
      'bg-color-orange-400': item.vote >= 60,
      'bg-color-orange-600': item.vote >= 90,
      'bg-color-red-500': item.vote >= 120,
      'bg-color-red-600': item.vote >= 180,
      'bg-color-red-100': item.vote >= 250
    }">
    <md-card-header>
      <md-card-avatar>
        <img alt="{{ item.name }}" ng-src="{{ main.imgProxy.getFromName(item.name) }}" class="md-user-avatar" />
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{item.name}} - {{item.nickname}}</span>
        <span class="md-subhead" ng-if="item.vote < 10">Trainee Initiate</span>
        <span class="md-subhead" ng-if="item.vote >= 10 && item.vote < 20">Trainee Padawan</span>
        <span class="md-subhead" ng-if="item.vote >= 20 && item.vote < 40">Trainee Knight</span>
        <span class="md-subhead" ng-if="item.vote >= 40 && item.vote < 60">Trainee Master</span>
        <span class="md-subhead" ng-if="item.vote >= 60 && item.vote < 90">Trainee almost an employee</span>
        <span class="md-subhead" ng-if="item.vote >= 90 && item.vote < 120">Trainee better than some employees</span>
        <span class="md-subhead" ng-if="item.vote >= 120 && item.vote < 180">Trainee better than most employees</span>
        <span class="md-subhead" ng-if="item.vote >= 180 && item.vote < 250">Trainee God</span>
        <span class="md-subhead" ng-if="item.vote >= 250">Trainee Michalet</span>
      </md-card-header-text>
      <md-card-avatar ng-show="main.Auth.isLoggedIn()">
        <rd-thumbs-up on-check="main.voteUp(item)" stroke-color="'#2C7ECC'" class="md-icon-button vote-for"></rd-thumbs-up>
      </md-card-avatar>
      <md-card-avatar ng-show="main.Auth.isLoggedIn()">
        <rd-thumbs-down on-check="main.voteDown(item)" stroke-color="'#2C7ECC'" class="md-icon-button vote-down"></rd-thumbs-down>
      </md-card-avatar>

      <span class="separator"></span>

      <span class="md-subhead v-align-center mt-vote-count">{{item.vote}}</span>
    </md-card-header>
    </div>
  </md-card>
</md-content>
