<br/>
<div flex-xs layout="column" layout-align="center center">
  <img class="title-img" src="/assets/images/panda_mouse.jpg"/>
  <h1 class="title">Mister - Trainee</h1>
</div>

<md-content class=' md-center' layout="row" layout-wrap>
  <md-card  flex="25" flex-xs="100" flex-sm="45" flex-md="30" ng-repeat="item in main.trainees">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">{{item.name}}</span>
        <span class="md-subhead">{{item.nickname}}</span>
        <span class="md-subhead">{{item.vote}}12</span>
      </md-card-header-text>
      <md-card-avatar>
        <rd-thumbs-up ng-click="main.vote(trainee)" class="md-icon-button vote-for"></rd-thumbs-up>
      </md-card-avatar>
    </md-card-header>
    </div>
  </md-card>
</md-content>
