@font-face {
font-family: 'master_of_break';
src: url('/assets/fonts/master_of_break/master_of_break.otf');
font-weight: normal;
font-style: normal;
}

.title {
  font-family: "master_of_break", Times, serif;
  text-align: center;
  font-size: 5em;
}

.title-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.vote-for .fa {
  font-size: 40px;
}
