<md-container>
  <md-list class="bg-color-grey-50">
    <md-subheader class="md-no-sticky">Trainees</md-subheader>
    <md-list-item ng-repeat="trainee in vm.trainees" class="noright">
      <img alt="{{ trainee.name }}" ng-src="{{ trainee.img }}" class="md-avatar" />
      <p>
        <a ui-sref="trainees-form({id: {{trainee._id}} })">{{ trainee.name }} - {{ trainee.nickname }}</a>
      </p>

      <rd-thumbs-up ng-click="vm.vote(trainee)" class="md-icon-button"></rd-thumbs-up>
      <md-divider md-inset ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-container>
