<div flex-xs layout="row" layout-align="center center">
  <div class="form-container md-whiteframe-z1 bg-color-grey-50" flex="50" flex-xs="100" flex-sm="80" flex-md="80">
    <form name="form" ng-submit="vm.register(form)">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Sign up</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container class="md-block">
            <label>Name</label>
            <input required type="text" name="name" ng-model="vm.user.name" />
            <div ng-messages="vm.user.name.$error" multiple>
              <div ng-message="required">
                A name is required
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" name="email" ng-model="vm.user.email" />
            <div ng-messages="vm.user.email.$error" multiple>
              <div ng-message="required">
                Please enter a valid email.
              </div>
              <div ng-messages="email">
                Doesn't look like a valid email.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="vm.user.password"
              ng-minlength="3"
              required
            />
            <div ng-messages="vm.user.email.$error" multiple>
              <div ng-message="required">
                Please enter a valid password.
              </div>
              <div ng-message="minlength">
                Password must be at least 3 characters.
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" ng-model="vm.user.confirmPassword"
              match="vm.user.password"
              ng-minlength="3"
              required
            />
            <div ng-messages="vm.user.confirmPassword.$error" multiple>
              <div ng-message="match">
                Passwords must match.
              </div>
            </div>
          </md-input-container>
        </md-card-content>

        <md-card-actions layout="column" layout-align="center">
          <md-button type="submit" class="md-raised md-primary">Login</md-button>
          <p>Already an account ? <a ui-sref="signup">Register</a></p>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</div>
